<!DOCTYPE html>
<html>
<!-- Este formulário que envia os dados para o servidor -->

<form method="POST">
    Nome
    <input type="text" name="nome"> <!-- Campo de texto -->

    Email
    <input type="email" name="email"> <!-- Campo de email -->

    Senha 
    <input type="password" name="senha"> <!-- Campo de senha -->

    <button type="submit"> <!-- Botão para enviar -->
        Cadastrar
    </button>
</form>

<!-- Página HTML de Cadastro - Código Completo -->
<head>
    <title>Cadastro</title>
</head>
<body>
    <h1>Criar Conta</h1>

    <!-- Formulário de Cadastro -->
    <form method="POST">
        <label>Nome:</label> <!-- label -> Etiqueta/Caixinha de texto-->
        <input type="text" name="nome" required> <!-- Campo obrigatório-->
        <br><br> <!--Break/quebra de linha -->

        <label>Email:</label>
        <input type="email" name="email" required> <!-- Valida email-->
        <br><br>

        <label>Senha:</label>
        <input type="password" name="senha" required> <!-- Oculta senha -->
        <br><br>

        <button type="submit">Cadastrar</button> <!-- Envia formulário -->
    </form>
    
    <br>
    <a href="/login">Já tem conta? Faça login</a> <!-- Link para login -->
</body>
</html>